.card-container {
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2rem;
}
.card-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.498);
    transition: 200ms;
}
.credentials {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
.card-message {
    /* font-family: ; */
}
